* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #7f858e, #bbbcbf, #d1d3d4, #a3a5a8, #6c7179);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  text-align: center;
}
header h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: auto;
  margin-bottom: auto;
  font-size: 8rem;
  color: #d1d3d4;
}
header p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}
header p a {
  padding: 0.1em;
  text-decoration: none;
  color: greenyellow;
}
header .header-bg {
  height: 200px;
  background-image: url("../1675296855966.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

button {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 20px;
  max-height: 35px;
  font-size: 1.4rem;
  font-weight: bold;
  transition: background-color 0.3s, opacity 0.2s;
  cursor: pointer;
}

.go-up-btn {
  position: sticky;
  top: 80%;
  left: 90%;
  border: none;
  opacity: 0.1;
  font-size: 5rem;
  z-index: 100000;
  background-color: transparent;
  transition: opacity 0.2s;
}
.go-up-btn:hover {
  opacity: 1;
}

.callbacks-container,
.callback-search,
.callbacks-creator {
  max-width: 600px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border: 3px solid #d3cfa5;
  border-radius: 20px;
  background-color: #fffacd;
  font-size: 2rem;
}

.callbacks-container {
  padding: 0;
  border: none;
  background-color: transparent;
}

.callbacks-creator {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.callbacks-creator .creator {
  display: inline-flex;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 2px solid #e0d7b7;
}
.callbacks-creator .creator--error {
  border: 3px solid red;
}
.callbacks-creator input {
  padding: 0.4em;
  min-width: 50%;
  font-size: 1.6rem;
}
.callbacks-creator__buttons {
  display: inline-flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 2em;
}
.callbacks-creator__buttons-clear:hover {
  background-color: tomato;
}
.callbacks-creator__buttons-add:hover {
  background-color: greenyellow;
}
.callbacks-creator__comment textarea {
  width: 70%;
  max-width: 440px;
  resize: none;
  padding: 0.5em;
}
.callbacks-creator__counter {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

.callback-search {
  padding: 0.5em;
  border: 1px solid #d3cfa5;
  background-color: #fffacd;
}
.callback-search form {
  display: flex;
  justify-content: space-between;
}
.callback-search form p {
  margin-top: auto;
  margin-bottom: auto;
}
.callback-search form .search {
  text-align: right;
  width: 90%;
}
.callback-search form .search__input {
  width: 70%;
  padding: 0.5em;
}

.callback {
  border-radius: 20px;
  margin: 2em 0;
  border: 1px solid #d3cfa5;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fffacd;
}
.callback .id {
  display: none;
}
.callback__info {
  margin: 0.4em 0;
  word-wrap: break-word;
  max-width: 80%;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-bottom: 2px solid #e0d7b7;
  border-left: 0;
  border-right: 0;
}
.info-container__copy-btn {
  margin: 0.5em 0;
  opacity: 0.1;
}
.info-container__copy-btn:hover {
  background-color: white;
}
.info-container__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}
.info-container__delete-btn {
  margin: 0.5em 0;
}
.info-container__delete-btn:hover {
  background-color: rgb(255, 44, 44);
}
.info-container:hover button {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */