node_modules/
notes
sr/js/app.js

sr/js/createCallbacks.js

sr/js/filterCallbacks.js

sr/js/goUpBtn.js

sr/js/handleAPI.js

sr/js/handleCopyInfo.js

sr/js/handleCounter.js

sr/js/handleDeleteCallback.js
